<form name="cities_new" id="cities_form" method="post" action="/cities/new">
	<input type="text" id="name" name="name" placeholder="City name">
	<input type="text" id="countrycode" name="countrycode" placeholder="Country code">
	<input type="text" id="district" name="district" placeholder="District">
	<input type="text" id="population" name="population" placeholder="Population">
	<input type="submit" value="Go">
</form>