<!DOCTYPE HTML>
<html>
  <head>
    <title><%= params['name'] %>'s Web Page</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    Hellooooo <%= params['name'] %>
  </body>
</html>