<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AJAX is cool</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD

	<input type="text" id="search-term">
=======
  <input type="text" id="search-term">
>>>>>>> b1275f65e5ce6f5ab33c151bd326e47ae886666d
  <button id="search">Search</button>

  <ul id="results">
  </ul>

  <%= javascript_include_tag 'application' %>

</body>
</html>